/* Reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* utility */
.mrg{
    margin-top: 15px;
}
.mrg-l{
    margin-top: 25px;
}
.mrg-xl{
    margin-top: 35px;
}

.mrg-xxl{
    margin-top: 50px;
}

.w-s{
    width: 1200px;
    position: relative;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

/* Tolgo i pallini alla lista */
ul {
    list-style: none;
}

.tit {
    display: inline-block;
    margin-left: 20px;
    /* text-transform: uppercase; */
}

.container{
    width: 100%;
}

nav{
    padding: 20px;
    padding-right: 20px ;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
}

.button{
    background-color:rgb(0,97,255);
    color: white;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.jumbo{
    width: 100%;
    height: 650px;
    background-color:rgb(180,208,231);
    margin-top: 40px;
}

.jumbo-cont{
    padding-top: 40px;
    width: 77%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.title{
    min-height: 150px;
    /* border: 1px solid black; */
    font-size:50px;
    font-weight:700;
}
.core, .title{
    width: 80%;
    /* border: 1px solid black; */
}

.text-c{
    width: 35%;
    /* border: 1px solid black; */
    
    
}

.text{
    
    font-size: large;
    line-height: 150%;
}

.button.inizia{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 13px;
    width: 270px;
}

.grande-freccia{
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}

.img{
    width: 60%;

    /* border: 1px solid black; */
}

.img.resized{
    width: 1000px;
    height: auto;
}


.core-conteiner{
    padding-top: 150px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.plan-title{
    width: 100%;
    /* border: 1px solid black; */
    height: 30px;
    margin-bottom: 30px;
}

.radio-b{
    width: 100%;
    /* border: 1px solid black; */
    height: 30px;
    margin-bottom: 30px;
}

input {
    margin: .4rem;
}

.plan{
    padding-top: 100px;
}
.standard , .professional , .advanced{
    width: calc((100%/3) - 54px);
    height: 850px;
    border: 1px solid rgb(224,224,224)
    ;
}

.standard , .professional{
    margin-right: 81px;
}

.plan-family{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(224,224,224);
    line-height: 40px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
}

.professional-cont{
    width: 84%;
    margin: 0 auto;
}

.level-title{
    font-weight: bold;
    font-size: x-large;
}

.button.demo{
    width: 100%;
    padding: 15px;
}
.specifiche{
    color: rgb(174,174,174);
    height: 60px;
}

.small-hr{width: 25%;}

.dot{
    margin-left: 0px;
    width: 100%;
    padding-top: 20px;
}

.check{
    color: rgb(0,97,255);
    width: 6%;
    line-height: 100%;
    vertical-align: top;
}


.dot-text{
    width: 94%;

}

.enterprise{
    border: 1px solid rgb(224,224,224);
    width: 100%;
    height: 215px;
    margin-top: 50px;
}

.team-container{
    /* soluzione relativamente elegante */
    width : calc((100%) - 54.04px);
    margin: 0 auto;
    padding-top: 25px;
}

.team-l{
    width: 70%;
    line-height: 40px;
}

.team-r{
    width: 30%;
    text-align: right;
}

.button.vendite{
    width: 100%;
    text-align: center;
    padding: 12px;
}

.partner-find{
    margin-top: 50px;
    width: 100%;
    height: 500px;
}

.find-img{
    width: 50%;
    height: 500px;
    background-image: url(../img/partner.png);
    background-size: contain;
}

.find-text{
    padding-top: 130px;
    width : calc((50%) - 130px);
    height: 500px;
    margin-left: 130px;
}

.button.find{
    width: 150px;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px;
}


.info-box-container{
    margin-top: 100px;
    width: 100%;
}

.info-box-c-title{
    width: 100%;
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-box{
    height: 530px;
    width: calc((100%/3) - 50px);
}

.info-box-img{
    height: 280px;
}

.info-box-text{
    padding-top: 30px;
    height: 250px;
}

#info-b-due, #info-b-cinque{
    margin-left: 75px;
    margin-right: 75px;
}

#box-uno{
    background-image: url(../img/business-feature-switching-tools.png);
    background-size:contain;
}
#box-due{
    background-image: url(../img/business-feature-coordinate-it.png);
    background-size:contain;
}
#box-tre{
    background-image: url(../img/business-feature-multi-device.png);
    background-size:contain;
}
#box-quattro{
    background-image: url(../img/business-feature-integrations-it.png);
    background-size:contain;
}
#box-cinque{
    background-image: url(../img/business-feature-send-files-it.png);
    background-size:contain;
}
#box-sei{
    background-image: url(../img/business-feature-security.png);
    background-size:contain;
}

.partner-container{
    width: 100%;
    margin-top: 100px;
}

.small-partner-title{
    width: 1200px;
    margin: 0 auto;
    margin-top: 45px;
    color: blue;
}

.partner-title{
    font-size: x-large;
    padding-right: 530px;
    width: 1200px;
    margin: 0 auto;
}

.partner-box-container{
    margin-top: 50px;
}

.p-small-box-container{
    width: calc(100%/3);
    height: calc(100vw/3);
    
}

.small-box{
    width: calc(100%/2);
    height:calc(100vw/6);
}



.small-box{
    position: relative;
 }
 
 .central-box{;
    width: 100%;
    height: calc((100%)/3);
    position: relative;
}

#central-small-b-line{
    border-top: 1px solid rgb(160, 160, 160);
    width: 70px;
    margin-top: 10px;
    margin-left: 50px;
}

.central-b-text{
    width: 100%;
    height: calc((200%)/3);
    position: relative;
    padding: 40px 50px 50px 50px;
  
}

#central{background-color: rgb(221, 221, 221);}

.small-box.uno{
    background-color: green;
}

.small-box.due{
    background-color: brown;
}

.small-box.tre{
    background-color: cornflowerblue;
}

.small-box.quattro{
    background-color: red;
}


.small-box.cinque{
    background-color: red;
}

.small-box.sei{
    background-color:rgb(192, 202, 204) ;
}

.small-box.sette{
    background-color:darkslateblue;
}

.small-box.otto{
    background-color: yellow;
}

.partner-container-bottom{
    width: 100%;
    height: 400px;
    background-color:rgb(192, 202, 204) ;
    position: relative;
}

.p-c-b{
    width: 1200px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.p-cont-bottom-text{
    width: 70%;
    color: rgb(139, 30, 54);
    font-size: x-large;

}

.p-cont-bottom-button {
    width: 30%;

}

.button.partner-cont{
    width:70%;
    background-color: white;
    color: black;
    padding: 15px;
}

img.resized-due{
    
    width: 50%;
    height: auto;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

img.resized-central{
    
    width: 20%;
    height: auto;
    position: absolute;
    top: 70%;
    left:50px;
    transform: translate(0, -50%);
}



.questions-container{
    padding-top: 130px;
    padding-bottom: 50px;
    width: 1200px;
    margin: 0 auto;
    height: 500px;
}

.question-text, .spunta{
    height: 80px;
    vertical-align: middle;
}


.question-text{
    vertical-align: middle;
    line-height: 80px;
    width: 70% ;
    border-top: 1px solid rgb(160, 160, 160);
}
.spunta{
    width: 20%;
    text-align: right;
    vertical-align: middle;
    font-size: large;
    line-height: 80px;
    border-top: 1px solid rgb(160, 160, 160);

}

.last{
    border-bottom:1px solid rgb(160, 160, 160);;
}

footer{
    height: 600px;
    color: white;
    background-color: black;
    margin-top: 200px;
}

.footer-data{
    width: 1200px;
    margin: 0 auto;
}

.foo-column{
    padding-top: 130px;;
    border:1px solid white;
    width: calc((100%/5) - 24px); 
    height: 600px;
    margin-right:30px ;
}

.foo-column.last-c{
    margin-right: 0px;
}

.foo-column li{
    padding-top: 20px;
}